@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pixelify+Sans:wght@400..700&display=swap');

html, body, div {
  justify-content: center;
  height: 100vh;
  margin: auto;
  background-color: #353535;
  font-family:'JetBrains Mono';
}

.header-component {
  width:20%;
  height:5%;
  margin-top:4%;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
  padding-left:3.5%;
  padding-right:1.5%;
}

.link{
  text-decoration: none;
  color:#797979;
  display:flex;
  align-items:center;
  font-size:80%;
}

.link1{
  margin-right:12.5%;
}

.link img{
  width:22.5%;
  height:22.5%;
}

.img2{
  margin-top:1%;
}

.link:hover{
  color:#dadada;
}

.link:hover img{
  filter: invert(1) brightness(175%);
}